Repository phillidp1989/App-Factory-API, pull requests merged in 2020-09, with the labels that each got.

#11 Dan/config/seed
  models/Post.js
  models/Solution.js
  models/index.js
  package.json
  seed/seed.js
Labels: db, models, npm packages

#12 Dan/feat/api
  controllers/postController.js
  controllers/solutionController.js
  controllers/userController.js
  models/Post.js
  models/Solution.js
  routes/apiRoutes.js
Labels: db, models, routes

#13 Changed reference to localhost to deployed link
  config/config.js
  routes/apiRoutes.js
  routes/authRoutes.js
  server.js
Labels: config, routes

#14 Jacob/patch/sanitising description for html
  controllers/postController.js
  package-lock.json
  package.json
Labels: npm packages
